table.form-table tr.required label {
  width: 200px; }

div.fileinput {
  display: inline; }

div.dateinput {
  display: inline; }

ul.paginator-sizes {
  display: inline; }
  ul.paginator-sizes a {
    zoom: 1; }
