table.objects {
	text-align: center;
}
    table.objects td {
        text-align: center;
    }
        table.objects td.header {
            text-align: left;
            font-weight: bold;
        }
        table.objects td.left {
            text-align: left;
        }
        table.objects td.right {
            text-align: right;
        }

ul.header-menu li a.active {
    background: #3F4E56 url('../../images/vt/header/active-menu.gif') !important;
}

.edit-preview {
    margin-left: 20px;
    background: #3F4E56 url('../../images/vt/common/form/submit-large-grey.gif') !important;
}

input[type="submit"].disabled, input[type="submit"].disabled:hover {
    color: #3F4E56;
}

li.confirm-ok a:focus,
li.confirm-cancel a:focus {
    outline:none;
}