@font-face {
  font-family: 'PT Sans';
  src: url("../../fonts/PTS55F_W.eot");
  src: local('PT Sans'), url("../../fonts/PTS55F_W.eot?#iefix") format('embedded-opentype'), url("../../fonts/PTS55F_W.woff") format('woff'), url("../../fonts/PTS55F_W.ttf") format('truetype'), url("../../fonts/PTS55F_W.svg#PTSans-Regular") format('svg');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  src: url("../../fonts/PTS56F_W.eot");
  src: local('PT Sans Italic'), url("../../fonts/PTS56F_W.eot?#iefix") format('embedded-opentype'), url("../../fonts/PTS56F_W.woff") format('woff'), url("../../fonts/PTS56F_W.ttf") format('truetype'), url("../../fonts/PTS56F_W.svg#PTSans-Italic") format('svg');
}
@font-face {
  font-family: 'PT Sans';
  src: url("../../fonts/PTS75F_W.eot");
  font-style: normal;
  font-weight: bold;
  src: local('PT Sans Bold'), url("../../fonts/PTS75F_W.eot?#iefix") format('embedded-opentype'), url("../../fonts/PTS75F_W.woff") format('woff'), url("../../fonts/PTS75F_W.ttf") format('truetype'), url("../../fonts/PTS75F_W.svg#PTSans-Bold") format('svg');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: bold;
  src: url("../../fonts/PTS76F_W.eot");
  src: local('PT Sans Bold Italic'), url("../../fonts/PTS76F_W.eot?#iefix") format('embedded-opentype'), url("../../fonts/PTS76F_W.woff") format('woff'), url("../../fonts/PTS76F_W.ttf") format('truetype'), url("../../fonts/PTS76F_W.svg#PTSans-BoldItalic") format('svg');
}
* {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
img {
  height: auto;
  max-width: 100%;
  border: 0;
  vertical-align: middle;
}
.clear:before,
.row:before,
.clear:after,
.row:after {
  content: "";
  display: table;
}
.clear:after,
.row:after {
  clear: both;
}
html {
  height: 100%;
  font-size: 10px;
  -webkit-text-size-adjust: 100%;
}
body {
  min-width: 1240px;
  height: 100%;
  margin: 0;
}
.wrapper {
  min-height: 100%;
  padding-bottom: 2rem;
}
.container {
  width: 1240px;
  padding: 0 40px;
  margin: 0 auto;
}
.container._fluid {
  width: auto;
}
.row {
  position: relative;
  margin-left: -40px;
}
.row._p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.row._fluid {
  width: 100%;
  margin-left: 0;
}
.row._reverse > [class^="col"] {
  float: right;
}
[class^="col"] {
  float: left;
  margin-left: 40px;
}
[class^="col"]._borderLeft:before {
  content: "";
  position: absolute;
  top: 1rem;
  bottom: 1rem;
  width: 0;
  margin-left: -20px;
  border-left: 1px solid #ccc;
}
.row._fluid > [class^="col"]._borderLeft:before {
  margin-left: -2.2%;
}
.row._fluid > [class^="col"] {
  margin-left: 4.4%;
}
.row._fluid > [class^="col"]:first-child {
  margin-left: 0;
}
.col1 {
  width: 60px;
}
.offset1 {
  margin-left: 140px;
}
.col2 {
  width: 160px;
}
.offset2 {
  margin-left: 240px;
}
.col3 {
  width: 260px;
}
.offset3 {
  margin-left: 340px;
}
.col4 {
  width: 360px;
}
.offset4 {
  margin-left: 440px;
}
.col5 {
  width: 460px;
}
.offset5 {
  margin-left: 540px;
}
.col6 {
  width: 560px;
}
.offset6 {
  margin-left: 640px;
}
.col7 {
  width: 660px;
}
.offset7 {
  margin-left: 740px;
}
.col8 {
  width: 760px;
}
.offset8 {
  margin-left: 840px;
}
.col9 {
  width: 860px;
}
.offset9 {
  margin-left: 940px;
}
.col10 {
  width: 960px;
}
.offset10 {
  margin-left: 1040px;
}
.col11 {
  width: 1060px;
}
.offset11 {
  margin-left: 1140px;
}
.col12 {
  width: 1160px;
}
.offset12 {
  margin-left: 1240px;
}
.row._fluid > .col1 {
  width: 4.3%;
}
.row._fluid > .offset1 {
  margin-left: 13.1%;
}
.row._fluid > .offset1:first-child {
  margin-left: 8.7%;
}
.row._fluid > .col2 {
  width: 13%;
}
.row._fluid > .offset2 {
  margin-left: 21.8%;
}
.row._fluid > .offset2:first-child {
  margin-left: 17.4%;
}
.row._fluid > .col3 {
  width: 21.7%;
}
.row._fluid > .offset3 {
  margin-left: 30.5%;
}
.row._fluid > .offset3:first-child {
  margin-left: 26.1%;
}
.row._fluid > .col4 {
  width: 30.4%;
}
.row._fluid > .offset4 {
  margin-left: 39.2%;
}
.row._fluid > .offset4:first-child {
  margin-left: 34.8%;
}
.row._fluid > .col5 {
  width: 39.1%;
}
.row._fluid > .offset5 {
  margin-left: 47.9%;
}
.row._fluid > .offset5:first-child {
  margin-left: 43.5%;
}
.row._fluid > .col6 {
  width: 47.8%;
}
.row._fluid > .offset6 {
  margin-left: 56.6%;
}
.row._fluid > .offset6:first-child {
  margin-left: 52.2%;
}
.row._fluid > .col7 {
  width: 56.5%;
}
.row._fluid > .offset7 {
  margin-left: 65.3%;
}
.row._fluid > .offset7:first-child {
  margin-left: 60.9%;
}
.row._fluid > .col8 {
  width: 65.2%;
}
.row._fluid > .offset8 {
  margin-left: 74%;
}
.row._fluid > .offset8:first-child {
  margin-left: 69.6%;
}
.row._fluid > .col9 {
  width: 73.9%;
}
.row._fluid > .offset9 {
  margin-left: 82.7%;
}
.row._fluid > .offset9:first-child {
  margin-left: 78.3%;
}
.row._fluid > .col10 {
  width: 82.6%;
}
.row._fluid > .offset10 {
  margin-left: 91.4%;
}
.row._fluid > .offset10:first-child {
  margin-left: 87%;
}
.row._fluid > .col11 {
  width: 91.3%;
}
.row._fluid > .offset11 {
  margin-left: 100.1%;
}
.row._fluid > .offset11:first-child {
  margin-left: 95.7%;
}
.row._fluid > .col12 {
  width: 100%;
}
.row._fluid > .offset12 {
  margin-left: 108.8%;
}
.row._fluid > .offset12:first-child {
  margin-left: 104.4%;
}
@media (min-width: 1007px) and (max-width: 1256px) {
  html {
    font-size: 9.25px;
  }
  body {
    min-width: 990px;
  }
  .container {
    width: 990px;
    padding: 0 30px;
  }
  .row {
    margin-left: -30px;
  }
  [class^="col"] {
    margin-left: 30px;
  }
  [class^="col"]._borderLeft:before {
    margin-left: -15px;
  }
  .col1 {
    width: 50px;
  }
  .offset1 {
    margin-left: 110px;
  }
  .col2 {
    width: 130px;
  }
  .offset2 {
    margin-left: 190px;
  }
  .col3 {
    width: 210px;
  }
  .offset3 {
    margin-left: 270px;
  }
  .col4 {
    width: 290px;
  }
  .offset4 {
    margin-left: 350px;
  }
  .col5 {
    width: 370px;
  }
  .offset5 {
    margin-left: 430px;
  }
  .col6 {
    width: 450px;
  }
  .offset6 {
    margin-left: 510px;
  }
  .col7 {
    width: 530px;
  }
  .offset7 {
    margin-left: 590px;
  }
  .col8 {
    width: 610px;
  }
  .offset8 {
    margin-left: 670px;
  }
  .col9 {
    width: 690px;
  }
  .offset9 {
    margin-left: 750px;
  }
  .col10 {
    width: 770px;
  }
  .offset10 {
    margin-left: 830px;
  }
  .col11 {
    width: 850px;
  }
  .offset11 {
    margin-left: 910px;
  }
  .col12 {
    width: 930px;
  }
  .offset12 {
    margin-left: 990px;
  }
}
@media (max-width: 1006px) {
  html {
    font-size: 8.5px;
  }
  body {
    min-width: 740px;
  }
  .container {
    width: 740px;
    padding: 0 20px;
  }
  .row {
    margin-left: -20px;
  }
  [class^="col"] {
    margin-left: 20px;
  }
  [class^="col"]._borderLeft:before {
    margin-left: -10px;
  }
  .col1 {
    width: 40px;
  }
  .offset1 {
    margin-left: 80px;
  }
  .col2 {
    width: 100px;
  }
  .offset2 {
    margin-left: 140px;
  }
  .col3 {
    width: 160px;
  }
  .offset3 {
    margin-left: 200px;
  }
  .col4 {
    width: 220px;
  }
  .offset4 {
    margin-left: 260px;
  }
  .col5 {
    width: 280px;
  }
  .offset5 {
    margin-left: 320px;
  }
  .col6 {
    width: 340px;
  }
  .offset6 {
    margin-left: 380px;
  }
  .col7 {
    width: 400px;
  }
  .offset7 {
    margin-left: 440px;
  }
  .col8 {
    width: 460px;
  }
  .offset8 {
    margin-left: 500px;
  }
  .col9 {
    width: 520px;
  }
  .offset9 {
    margin-left: 560px;
  }
  .col10 {
    width: 580px;
  }
  .offset10 {
    margin-left: 620px;
  }
  .col11 {
    width: 640px;
  }
  .offset11 {
    margin-left: 680px;
  }
  .col12 {
    width: 700px;
  }
  .offset12 {
    margin-left: 740px;
  }
}
body {
  line-height: 1.25;
  font-family: "PT Sans", "Trebuchet MS", Arial, sans-serif;
  color: #2f383c;
  background: #fff;
}
body > * {
  font-size: 1.6rem;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
ul,
ol,
li,
dl,
dt,
dd,
address {
  padding: 0;
  margin: 1rem 0;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "PT Sans", "Trebuchet MS", Arial, sans-serif;
  font-size: 2.2rem;
  line-height: 3rem;
  font-weight: normal;
  font-style: normal;
  color: #000;
}
h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child),
h5:not(:first-child),
h6:not(:first-child),
.h1:not(:first-child),
.h2:not(:first-child),
.h3:not(:first-child),
.h4:not(:first-child),
.h5:not(:first-child),
.h6:not(:first-child) {
  margin-top: 2rem;
}
h1,
.h1 {
  font-size: 3rem;
}
h2,
.h2 {
  font-size: 2.4rem;
}
li {
  margin-left: 2.5em;
}
hr {
  display: block;
  height: 0;
  padding: 0;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 2rem 0;
  line-height: 0;
}
.blockLabel {
  display: inline-block;
  padding-top: 0.33em;
  margin: 1px 0 0;
}
.blockLabel._shiftToRight {
  margin-right: -2.5rem;
}
input,
button,
select,
textarea,
a.button {
  margin: 0;
  font-family: "PT Sans", "Trebuchet MS", Arial, sans-serif;
  font-size: inherit;
}
input._error,
button._error,
select._error,
textarea._error,
a.button._error {
  border-color: #c00 !important;
}
button,
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
a.button {
  display: inline-block;
  width: 100%;
  height: 2.05em;
  line-height: 1.55em;
  padding: 0.25em 0.5em;
  vertical-align: baseline;
  border: 1px solid #ccc;
  background-color: #fff;
}
button,
a.button {
  width: auto;
  border-color: transparent;
  cursor: pointer;
  color: #fff;
  background-color: #7cc20c;
}
button:hover,
a.button:hover {
  text-decoration: none;
  background-color: #6fac44;
}
.mce-btn button,
.mce-btn a.button {
  background-color: transparent;
}
button._med,
a.button._med {
  height: auto;
  padding: 0.45em 0.9em 0.4em;
}
button._big,
a.button._big {
  height: auto;
  padding: 0.55em 1em 0.5em;
  font-size: 1.8rem;
}
button._light,
a.button._light {
  color: #2f383c;
  background-color: #eee;
}
button._light:hover,
a.button._light:hover {
  background-color: #ccc;
}
button._del,
a.button._del {
  color: #fff !important;
  background-color: #858b88 !important;
}
button._del:hover,
a.button._del:hover {
  color: #fff !important;
  background-color: #c00 !important;
}
button::-moz-focus-inner,
a.button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input[type="checkbox"],
input[type="radio"] {
  margin-right: 0.3em;
  vertical-align: 0.07em;
  cursor: pointer;
}
textarea {
  height: auto;
  padding-top: 0.33em;
  line-height: 1.25;
}
select[multiple],
select[size] {
  height: auto;
}
a,
.link {
  color: #196baa;
}
a:link,
.link:link,
a:visited,
.link:visited,
a:active,
.link:active {
  text-decoration: none;
}
a:hover,
.link:hover {
  text-decoration: underline;
}
a.linkBlock,
a.linkInlineBlock {
  display: block;
  color: inherit;
}
a.linkBlock h1,
a.linkInlineBlock h1,
a.linkBlock h2,
a.linkInlineBlock h2,
a.linkBlock h3,
a.linkInlineBlock h3,
a.linkBlock h4,
a.linkInlineBlock h4,
a.linkBlock h5,
a.linkInlineBlock h5,
a.linkBlock h6,
a.linkInlineBlock h6,
a.linkBlock .h1,
a.linkInlineBlock .h1,
a.linkBlock .h2,
a.linkInlineBlock .h2,
a.linkBlock .h3,
a.linkInlineBlock .h3,
a.linkBlock .h4,
a.linkInlineBlock .h4,
a.linkBlock .h5,
a.linkInlineBlock .h5,
a.linkBlock .h6,
a.linkInlineBlock .h6 {
  color: #000;
}
a.linkBlock .cLink,
a.linkInlineBlock .cLink {
  color: #196baa;
}
a.linkBlock:hover,
a.linkInlineBlock:hover {
  text-decoration: none;
}
a.linkBlock:hover .link,
a.linkInlineBlock:hover .link {
  text-decoration: underline;
  color: #196baa;
}
a.linkBlock:hover .link.cFade,
a.linkInlineBlock:hover .link.cFade {
  color: #858b88;
}
a.linkInlineBlock {
  display: inline-block;
}
.linkMore {
  padding-right: 0.8em;
  white-space: nowrap;
}
.linkMore:after {
  content: "»";
  position: absolute;
  margin-left: 0.3em;
  text-decoration: none;
  color: #196baa;
}
.linkPseudo {
  color: #196baa;
}
.linkPseudo > span {
  border-bottom: 1px dashed #196baa;
  cursor: pointer;
}
.linkPseudo:hover {
  text-decoration: none;
}
.flatList {
  list-style: none;
}
.flatList > li {
  margin-left: 0;
}
.metaList {
  list-style: none;
  color: #858b88;
}
.metaList._nosep li,
.metaList li._nosep {
  margin-left: 1em;
}
.metaList._nosep li:first-child,
.metaList li._nosep:first-child {
  margin-left: 0;
}
.metaList._nosep li:before,
.metaList li._nosep:before {
  content: none;
}
.metaList._tight li {
  margin-left: 0.5em;
}
.metaList._breadcrumbs li:before {
  content: "→";
}
.metaList li {
  display: inline-block;
  margin: 0;
}
.metaList li:before {
  content: "|";
  margin: 0 0.8em 0 0.6em;
  color: #ccc;
}
.metaList li:first-child:before {
  content: none;
}
.metaList li._active,
.metaList li._active > a {
  color: #7cc20c;
}
.objList {
  margin-left: -2rem;
  list-style: none;
}
.objList > li {
  display: inline-block;
  margin: 1rem 0 1rem 2rem;
  text-align: center;
  vertical-align: top;
}
.floatLeft {
  float: left;
  margin: 0 2rem 1rem 0;
}
.floatRight {
  float: right;
  margin: 0 0 1rem 2rem;
}
.tableStruct {
  padding: 0;
  margin: 2rem 0;
  border-collapse: collapse;
}
.tableStruct td {
  padding: 0 0 1rem 2rem;
  margin: 0;
}
.tableStruct td:first-child {
  padding-left: 0;
}
.tableData {
  width: auto;
  margin: 1rem auto;
  border-collapse: collapse;
  font-size: 1.5rem;
}
.tableData th,
.tableData td {
  padding: 1rem;
  border: 1px solid #ccc;
}
.tableData th {
  font-weight: normal;
  color: #fff;
  background: #4a5357;
  vertical-align: middle;
}
.tableData td {
  vertical-align: top;
}
.tableData tr:nth-child(odd) {
  background-color: #f7f7f7;
}
.tableData tr:hover {
  background-color: #eee;
}
.tableData._verticalAlignMiddle th,
.tableData._verticalAlignMiddle td {
  vertical-align: middle;
}
.cont {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.plate {
  padding: 1rem 2rem;
  border: 1px solid #ccc;
  background-color: #eee;
}
header {
  padding: 0.5rem 0;
  font-size: 1.5rem;
  background: #eee;
}
header .headerLogo {
  font-weight: bold;
}
header .headerLogo a {
  color: inherit;
}
header p,
header ul {
  margin: 0;
}
nav {
  border: solid #000;
  border-width: 1px 0;
  color: #fff;
  background: #2f383c;
}
nav a {
  display: block;
  padding: 1rem 1.1em;
  color: inherit;
}
nav a:hover {
  text-decoration: none;
  background: #4a5357;
}
nav ul {
  margin: 0;
  list-style: none;
  font-size: 0;
}
nav ul li {
  position: relative;
  display: inline-block;
  margin: 0;
  border: solid #000;
  border-width: 0 1px 0 0;
  font-size: 1.5rem;
}
nav ul li:first-child {
  border-left-width: 1px;
}
nav ul li._active > a {
  background: #4a5357;
}
nav ul li._dropDown > a:after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  margin: 0 -0.5rem 0 0.7em;
  vertical-align: -0.2em;
  border: 0.5rem solid transparent;
  border-top-color: rgba(255,255,255,0.4);
}
nav ul li:hover > ul {
  display: block;
}
nav ul li:last-child > ul {
  left: auto;
  right: -1px;
}
nav ul li ul {
  display: none;
  z-index: 101;
  position: absolute;
  left: -1px;
  top: 100%;
  min-width: 102.2%;
  text-align: left;
  white-space: nowrap;
  border: 1px solid #000;
  background: #2f383c;
}
nav ul li ul li {
  display: block;
  border-width: 0 !important;
}
nav ul li ul li._divider {
  height: 0;
  border-bottom-width: 1px !important;
}
.gallery {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.galleryWrap {
  overflow: hidden;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}
.gallery .row {
  position: relative;
  left: 0;
  width: 999999px;
}
.galleryControlLeft,
.galleryControlRight {
  position: absolute;
  top: 50%;
  margin-top: -2rem;
  height: 4rem;
  padding: 0 0.25rem;
  line-height: 3.1rem;
  font-size: 5rem;
  font-family: Arial;
  color: #ccc;
  background: rgba(255,255,255,0.5);
  cursor: pointer;
}
.galleryControlLeft._hover,
.galleryControlRight._hover {
  color: #fff;
  background: #7cc20c;
}
.galleryControlLeft {
  left: -40px;
  text-align: left;
}
.galleryControlLeft:before {
  content: "‹";
}
@media (min-width: 1007px) and (max-width: 1256px) {
  .galleryControlLeft {
    left: -30px;
  }
}
@media (max-width: 1006px) {
  .galleryControlLeft {
    left: -20px;
  }
}
.galleryControlRight {
  right: -40px;
  text-align: right;
}
.galleryControlRight:before {
  content: "›";
}
@media (min-width: 1007px) and (max-width: 1256px) {
  .galleryControlRight {
    right: -30px;
  }
}
@media (max-width: 1006px) {
  .galleryControlRight {
    right: -20px;
  }
}
.gallery._withPagesControls .galleryControlLeft,
.gallery._withPagesControls .galleryControlRight {
  margin-top: -3.5rem;
}
.galleryFrames {
  height: 3rem;
  line-height: 3rem;
  text-align: center;
}
.galleryFrames > span {
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  margin: 0 0.6rem;
  border: 1px solid #ccc;
  border-radius: 50%;
  background: #ccc;
  cursor: pointer;
  vertical-align: bottom;
}
.galleryFrames > span._active {
  border-color: transparent;
  background: #7cc20c;
  cursor: default;
}
.galleryFrames > span:hover:not(._active) {
  border-color: #7cc20c;
}
.image {
  position: relative;
  display: block;
  padding-bottom: 75%;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  background-color: #858b88;
}
.tabs {
  margin: 2rem 0;
}
.tabs_head {
  overflow: hidden;
  font-size: 1.5rem;
}
.tabs_head ul {
  float: left;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid #ccc;
  list-style: none;
}
.tabs_head ul li {
  float: left;
  margin: 0 0 -1px;
  border: solid #ccc;
  border-width: 1px 1px 1px 0;
}
.tabs_head ul li:first-child {
  border-left-width: 1px;
}
.tabs_head ul li span {
  display: block;
  min-width: 7.2em;
  padding: 0.7rem 1.6rem 1rem;
  border-top: 0.3rem solid transparent;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  color: #2f383c;
  background: #e9eee9;
}
.tabs_head ul li._active {
  border-top-color: #7cc20c;
  border-bottom-color: #fff;
}
.tabs_head ul li._active span {
  border-color: #7cc20c;
  cursor: default;
  color: #000;
  background: #fff;
  box-shadow: none;
}
.tabs_cont {
  display: none;
  padding: 1rem 2rem;
  border: 1px solid #ccc;
  border-top: 0;
}
.tabs_cont._active {
  display: block;
}
.tabsFakeCont {
  padding: 0 2rem;
}
.status {
  display: inline-block;
  padding: 0.2em 0.4em 0.15em;
  font-size: 1.2rem;
  text-align: center;
  color: #fff;
  background-color: #7cc20c;
}
a.status {
  text-decoration: underline;
}
.status._o {
  background-color: #f5a623;
}
.status._d {
  background-color: #435f6d;
}
.status._b {
  background-color: #3278b3;
}
.status._e {
  background-color: #3bbde2;
}
.status._r {
  background-color: #ac1d39;
}
.status._fade {
  background-color: #858b88;
}
ul.listButtons {
  position: relative;
  display: inline-block;
  margin: 0;
  list-style: none;
  font-size: 0;
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
ul.listButtons ul {
  margin: 0;
  list-style: none;
}
ul.listButtons li {
  margin: 0;
  font-size: 1.4rem;
}
ul.listButtons > li {
  position: relative;
  display: inline-block;
  margin-right: 2px;
}
ul.listButtons > li:last-child {
  margin-right: 0;
}
ul.listButtons > li > a,
ul.listButtons > li > span {
  display: block;
  line-height: 2.2em;
  padding: 0 0.6em;
  font-weight: bold;
  text-decoration: none !important;
  color: #2f383c;
  background: #eee;
  cursor: pointer;
}
ul.listButtons > li > a:hover,
ul.listButtons > li > span:hover {
  background-color: #ccc;
}
ul.listButtons > li > a i,
ul.listButtons > li > span i {
  font-size: 1.3rem;
  font-weight: normal;
}
ul.listButtons > li._active > a,
ul.listButtons > li._active > span {
  background-color: #ccc;
}
ul.listButtons > li._popup > a:after,
ul.listButtons > li._popup > span:after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  margin: 0 -0.1em 0 0.5em;
  vertical-align: -0.23em;
  border: 0.4rem solid transparent;
  border-top-color: rgba(47,56,60,0.4);
}
ul.listButtons > li > div {
  position: relative;
  display: none;
  z-index: 200;
  position: absolute;
  top: 100%;
  min-width: 100%;
  margin-top: 10px;
  background: #fff;
  box-shadow: 0 0 11px 1px rgba(0,0,0,0.35);
}
ul.listButtons > li > div:before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0.9rem;
  border: solid transparent;
  border-width: 0 8px 8px 8px;
  border-bottom-color: #fff;
}
ul.listButtons > li > div > ul {
  display: block;
  overflow-y: scroll;
  max-height: 27.5rem;
  margin: 2px 0;
}
ul.listButtons > li > div > ul li {
  display: block;
  line-height: 1;
  margin: 0 2px;
}
ul.listButtons > li > div > ul li._divider {
  height: 0;
  border-bottom: 1px solid #eee;
  margin: 2px 0;
}
ul.listButtons > li > div > ul a {
  display: block;
  padding: 0.9rem 1.1rem;
  color: #2f383c;
}
ul.listButtons > li > div > ul a:hover {
  text-decoration: none;
  background: #eee;
}
ul.listButtons > li._active > div {
  display: block;
}
ul.listButtons._disabled {
  pointer-events: none;
  opacity: 0.4;
}
th.tableRowCheckbox,
td.tableRowCheckbox {
  text-align: center;
  vertical-align: middle;
  line-height: 1;
}
th.tableRowCheckbox input[type="checkbox"],
td.tableRowCheckbox input[type="checkbox"] {
  margin: 0;
}
th.tableControls,
td.tableControls {
  white-space: nowrap;
  vertical-align: middle;
  line-height: 1;
}
th.tableControls a:hover,
td.tableControls a:hover {
  color: #435f6d;
  text-decoration: none;
}
th.tableControls a + a,
td.tableControls a + a {
  margin-left: 0.5em;
  color: #858b88;
}
th.tableControls a + a:hover,
td.tableControls a + a:hover {
  color: #c00;
}
th.headerSort {
  padding-right: 15px;
  cursor: pointer;
  background-image: url("../../img/vt/sort_bg.png");
  background-repeat: no-repeat;
  background-position: 100% 50%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
th.headerSort.headerSortDown {
  background-image: url("../../img/vt/sort_desc.png");
}
th.headerSort.headerSortUp {
  background-image: url("../../img/vt/sort_asc.png");
}
li.listItemActive {
  padding: 0.1em 0.2em;
  color: #fff;
  background: #3278b3;
}
.hoverHelp {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.hoverHelp:before {
  content: "i";
  display: inline-block;
  width: 1.8rem;
  height: 1.8rem;
  line-height: 1.8rem;
  font-family: Georgia, serif;
  font-size: 1.3rem;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  color: #fff;
  background: #ccc;
  border-radius: 50%;
}
.hoverHelp > span {
  display: none;
  position: absolute;
  bottom: 3rem;
  left: -0.75rem;
  width: 17rem;
  padding: 1rem;
  font-size: 1.3rem;
  color: #fff;
  background: #2f383c;
}
.hoverHelp > span:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 1rem;
  border: 0.75rem solid transparent;
  border-top-color: #2f383c;
  border-bottom: 0;
}
.hoverHelp._left > span {
  right: -0.75rem;
  left: auto;
}
.hoverHelp._left > span:before {
  right: 1rem;
  left: auto;
}
.hoverHelp:hover:before {
  background: #2f383c;
}
.hoverHelp:hover > span {
  display: block;
}
.theFile {
  display: inline-block;
  padding: 0.45rem 1rem;
  margin: 0 0.15em 0.4em 0;
  font-size: 1.5rem;
  color: #2f383c;
  border: 1px solid #eee;
  white-space: nowrap;
  text-decoration: none !important;
}
.theFile._add {
  border-color: transparent;
  background-color: #eee;
}
.theFile._add:hover {
  background: #ccc;
}
.theFile em {
  font-style: normal;
  color: #858b88;
}
.theFile i {
  color: #858b88;
}
.theFile:hover span {
  color: #858b88;
}
.theFile ._edit {
  display: inline-block;
  margin: 0 -0.25rem 0 0.5rem;
  line-height: 1;
  vertical-align: -0.15em;
  font-family: 'GeneralFoundicons';
  font-size: 1.3rem;
  color: #ccc;
}
.theFile ._edit:before {
  content: "\f01d";
}
.theFile ._edit:hover {
  color: #3278b3;
}
.theFile ._del {
  display: inline-block;
  margin: 0 -0.25rem 0 0.5rem;
  line-height: 1;
  vertical-align: -0.15em;
  font-family: 'GeneralFoundicons';
  font-size: 1.3rem;
  color: #ccc;
}
.theFile ._del:before {
  content: "\f018";
}
.theFile ._del:hover {
  color: #c00;
}
.imgThumb {
  position: relative;
  display: inline-block;
  width: 10rem;
  height: 6rem;
  line-height: 6rem;
  margin: 0 0.15em 0.4em 0;
  font-size: 1.5rem;
  color: #2f383c;
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  text-align: center;
  vertical-align: top;
  text-decoration: none !important;
  cursor: pointer;
}
.imgThumb:hover span {
  color: #858b88;
}
.imgThumb ._edit {
  position: absolute;
  bottom: 0;
  right: 1.5rem;
  width: 1.5rem;
  height: 1.6rem;
  line-height: 0;
  font-family: 'GeneralFoundicons';
  font-size: 1.3rem;
  color: #ccc;
  background: #fff;
  text-align: right;
  border-top-left-radius: 3px;
}
.imgThumb ._edit:before {
  content: "\f01d";
  vertical-align: -0.98rem;
}
.imgThumb ._edit:hover {
  color: #3278b3;
}
.imgThumb ._del {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 1.5rem;
  height: 1.6rem;
  line-height: 0;
  font-family: 'GeneralFoundicons';
  font-size: 1.3rem;
  color: #ccc;
  background: #fff;
  text-align: right;
}
.imgThumb ._del:before {
  content: "\f018";
  vertical-align: -0.98rem;
}
.imgThumb ._del:hover {
  color: #c00;
}
.imgThumb i {
  color: #858b88;
}
a.imgThumb._add:hover {
  background: #ccc;
}
input.dateInput {
  width: 6em;
}
input.dateInput + input.timeInput {
  margin-left: 0.4em;
}
input.timeInput {
  width: 3.65em;
}
.tableCalendar tr {
  background: #fff !important;
}
.tableCalendar td {
  width: 14%;
}
.tableCalendar td:first-child,
.tableCalendar td:last-child {
  width: 15%;
}
.tableCalendar td ._date {
  float: right;
  margin: -0.6rem -0.5rem 0 0;
  font-size: 1.2rem;
  font-weight: bold;
}
.tableCalendar td._pass {
  color: #858b88;
}
.tableCalendar td._today ._date {
  color: #c00;
}
/*
footer
	padding-top: (lhBase / 2)
	border-top: 1px solid cFadeLight
	font-size: fsMedium
	background: cBackFade
*/
.theVFS {
  overflow: visible;
  padding: 0;
}
#redactor_modal button {
  height: auto;
}
.displayNone {
  display: none;
}
.displayBlock {
  display: block;
}
.displayInlineBlock {
  display: inline-block;
}
.overflowHidden {
  overflow: hidden;
}
.visibilityHidden {
  visibility: hidden;
}
.widthAuto {
  width: auto;
}
.noWrap {
  white-space: nowrap;
}
.fsHeader1 {
  font-size: 3rem !important;
}
.fsHeader2 {
  font-size: 2.4rem !important;
}
.fsHeader {
  font-size: 2.2rem !important;
}
.fsBigX {
  font-size: 1.9rem !important;
}
.fsBig {
  font-size: 1.8rem !important;
}
.fsText {
  font-size: 1.6rem !important;
}
.fsMedium {
  font-size: 1.5rem !important;
}
.fsSmall {
  font-size: 1.3rem !important;
}
.cFirm {
  color: #7cc20c !important;
}
.cFirmB {
  color: #f5a623 !important;
}
.cFirmC {
  color: #435f6d !important;
}
.cFirmD {
  color: #3278b3 !important;
}
.cFirmE {
  color: #3bbde2 !important;
}
.cFirmF {
  color: #ac1d39 !important;
}
.cBack {
  color: #fff !important;
}
.cBackFade {
  color: #eee !important;
}
.cText {
  color: #2f383c !important;
}
.cHead {
  color: #000 !important;
}
.cLink {
  color: #196baa !important;
}
.cSucc {
  color: #7cc20c !important;
}
.cWarn {
  color: #c00 !important;
}
.cFade {
  color: #858b88 !important;
}
.cFadeDark {
  color: #666 !important;
}
.cFadeLight {
  color: #ccc !important;
}
.bcFirm {
  background-color: #7cc20c !important;
}
.bcFirmB {
  background-color: #f5a623 !important;
}
.bcFirmC {
  background-color: #435f6d !important;
}
.bcFirmD {
  background-color: #3278b3 !important;
}
.bcFirmE {
  background-color: #3bbde2 !important;
}
.bcFirmF {
  background-color: #ac1d39 !important;
}
.bcBack {
  background-color: #fff !important;
}
.bcBackFade {
  background-color: #eee !important;
}
.bcText {
  background-color: #2f383c !important;
}
.bcHead {
  background-color: #000 !important;
}
.bcLink {
  background-color: #196baa !important;
}
.bcSucc {
  background-color: #7cc20c !important;
}
.bcWarn {
  background-color: #c00 !important;
}
.bcFade {
  background-color: #858b88 !important;
}
.bcFadeDark {
  background-color: #666 !important;
}
.bcFadeLight {
  background-color: #ccc !important;
}
.bcTransparent {
  background-color: transparent !important;
}
.alignLeft {
  text-align: left !important;
}
.alignRight {
  text-align: right !important;
}
.alignCenter {
  text-align: center !important;
}
.alignBaseline {
  vertical-align: baseline !important;
}
.alignMiddle {
  vertical-align: middle !important;
}
.alignTop {
  vertical-align: top !important;
}
.alignBottom {
  vertical-align: bottom !important;
}
.marginTopDoubleBase {
  margin-top: 4rem !important;
}
.marginBottomDoubleBase {
  margin-bottom: 4rem !important;
}
.marginLeftDoubleBase {
  margin-left: 4rem !important;
}
.marginRightDoubleBase {
  margin-right: 4rem !important;
}
.marginTopBase {
  margin-top: 2rem !important;
}
.marginBottomBase {
  margin-bottom: 2rem !important;
}
.marginLeftBase {
  margin-left: 2rem !important;
}
.marginRightBase {
  margin-right: 2rem !important;
}
.marginTopHalfBase {
  margin-top: 1rem !important;
}
.marginBottomHalfBase {
  margin-bottom: 1rem !important;
}
.marginLeftHalfBase {
  margin-left: 1rem !important;
}
.marginRightHalfBase {
  margin-right: 1rem !important;
}
.marginTopButtonEm {
  margin-top: 0.28em !important;
}
.marginAntiTopHalfBase {
  margin-top: -1rem !important;
}
.marginAntiTopQuartBase {
  margin-top: -0.5rem !important;
}
.flat {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.flatTop {
  margin-top: 0 !important;
}
.flatBottom {
  margin-bottom: 0 !important;
}
