@import url("http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin-ext,cyrillic");
* {
  box-sizing: border-box;
}
img {
  height: auto;
  max-width: 100%;
  border: 0;
  vertical-align: middle;
}
.clear:before,
.row:before,
.clear:after,
.row:after {
  content: "";
  display: table;
}
.clear:after,
.row:after {
  clear: both;
}
html {
  height: 100%;
  font-size: 10px;
  -webkit-text-size-adjust: 100%;
}
body {
  min-width: 1240px;
  height: 100%;
  margin: 0;
}
.wrapper {
  min-height: 100%;
  padding-bottom: 16rem;
}
footer {
  height: 14rem;
  margin-top: -14rem;
}
.container {
  width: 1240px;
  padding: 0 40px;
  margin: 0 auto;
}
.container._fluid {
  width: auto;
  max-width: 1240px;
  min-width: 768px;
}
.row {
  position: relative;
  margin-left: -40px;
}
.row._p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.row._fluid {
  width: 100%;
  margin-left: 0;
}
.row._reverse > [class^="col"] {
  float: right;
}
[class^="col"] {
  float: left;
  margin-left: 40px;
}
[class^="col"]._borderLeft:before {
  content: "";
  position: absolute;
  top: 1rem;
  bottom: 1rem;
  width: 0;
  margin-left: -20px;
  border-left: 1px solid #ccc;
}
.row._fluid > [class^="col"]._borderLeft:before {
  margin-left: -2.2%;
}
.row._fluid > [class^="col"] {
  margin-left: 4.4%;
}
.row._fluid > [class^="col"]:first-child {
  margin-left: 0;
}
.col1 {
  width: 60px;
}
.offset1 {
  margin-left: 140px;
}
.col2 {
  width: 160px;
}
.offset2 {
  margin-left: 240px;
}
.col3 {
  width: 260px;
}
.offset3 {
  margin-left: 340px;
}
.col4 {
  width: 360px;
}
.offset4 {
  margin-left: 440px;
}
.col5 {
  width: 460px;
}
.offset5 {
  margin-left: 540px;
}
.col6 {
  width: 560px;
}
.offset6 {
  margin-left: 640px;
}
.col7 {
  width: 660px;
}
.offset7 {
  margin-left: 740px;
}
.col8 {
  width: 760px;
}
.offset8 {
  margin-left: 840px;
}
.col9 {
  width: 860px;
}
.offset9 {
  margin-left: 940px;
}
.col10 {
  width: 960px;
}
.offset10 {
  margin-left: 1040px;
}
.col11 {
  width: 1060px;
}
.offset11 {
  margin-left: 1140px;
}
.col12 {
  width: 1160px;
}
.offset12 {
  margin-left: 1240px;
}
.row._fluid > .col1 {
  width: 4.3%;
}
.row._fluid > .offset1 {
  margin-left: 13.1%;
}
.row._fluid > .offset1:first-child {
  margin-left: 8.7%;
}
.row._fluid > .col2 {
  width: 13%;
}
.row._fluid > .offset2 {
  margin-left: 21.8%;
}
.row._fluid > .offset2:first-child {
  margin-left: 17.4%;
}
.row._fluid > .col3 {
  width: 21.7%;
}
.row._fluid > .offset3 {
  margin-left: 30.5%;
}
.row._fluid > .offset3:first-child {
  margin-left: 26.1%;
}
.row._fluid > .col4 {
  width: 30.4%;
}
.row._fluid > .offset4 {
  margin-left: 39.2%;
}
.row._fluid > .offset4:first-child {
  margin-left: 34.8%;
}
.row._fluid > .col5 {
  width: 39.1%;
}
.row._fluid > .offset5 {
  margin-left: 47.9%;
}
.row._fluid > .offset5:first-child {
  margin-left: 43.5%;
}
.row._fluid > .col6 {
  width: 47.8%;
}
.row._fluid > .offset6 {
  margin-left: 56.6%;
}
.row._fluid > .offset6:first-child {
  margin-left: 52.2%;
}
.row._fluid > .col7 {
  width: 56.5%;
}
.row._fluid > .offset7 {
  margin-left: 65.3%;
}
.row._fluid > .offset7:first-child {
  margin-left: 60.9%;
}
.row._fluid > .col8 {
  width: 65.2%;
}
.row._fluid > .offset8 {
  margin-left: 74%;
}
.row._fluid > .offset8:first-child {
  margin-left: 69.6%;
}
.row._fluid > .col9 {
  width: 73.9%;
}
.row._fluid > .offset9 {
  margin-left: 82.7%;
}
.row._fluid > .offset9:first-child {
  margin-left: 78.3%;
}
.row._fluid > .col10 {
  width: 82.6%;
}
.row._fluid > .offset10 {
  margin-left: 91.4%;
}
.row._fluid > .offset10:first-child {
  margin-left: 87%;
}
.row._fluid > .col11 {
  width: 91.3%;
}
.row._fluid > .offset11 {
  margin-left: 100.1%;
}
.row._fluid > .offset11:first-child {
  margin-left: 95.7%;
}
.row._fluid > .col12 {
  width: 100%;
}
.row._fluid > .offset12 {
  margin-left: 108.8%;
}
.row._fluid > .offset12:first-child {
  margin-left: 104.4%;
}
@media (min-width: 1007px) and (max-width: 1256px) {
  html {
    font-size: 9.25px;
  }
  body {
    min-width: 990px;
  }
  .container {
    width: 990px;
    padding: 0 30px;
  }
  .row {
    margin-left: -30px;
  }
  [class^="col"] {
    margin-left: 30px;
  }
  [class^="col"]._borderLeft:before {
    margin-left: -15px;
  }
  .col1 {
    width: 50px;
  }
  .offset1 {
    margin-left: 110px;
  }
  .col2 {
    width: 130px;
  }
  .offset2 {
    margin-left: 190px;
  }
  .col3 {
    width: 210px;
  }
  .offset3 {
    margin-left: 270px;
  }
  .col4 {
    width: 290px;
  }
  .offset4 {
    margin-left: 350px;
  }
  .col5 {
    width: 370px;
  }
  .offset5 {
    margin-left: 430px;
  }
  .col6 {
    width: 450px;
  }
  .offset6 {
    margin-left: 510px;
  }
  .col7 {
    width: 530px;
  }
  .offset7 {
    margin-left: 590px;
  }
  .col8 {
    width: 610px;
  }
  .offset8 {
    margin-left: 670px;
  }
  .col9 {
    width: 690px;
  }
  .offset9 {
    margin-left: 750px;
  }
  .col10 {
    width: 770px;
  }
  .offset10 {
    margin-left: 830px;
  }
  .col11 {
    width: 850px;
  }
  .offset11 {
    margin-left: 910px;
  }
  .col12 {
    width: 930px;
  }
  .offset12 {
    margin-left: 990px;
  }
  .hideOnMed {
    display: none !important;
  }
}
@media (max-width: 1006px) {
  html {
    font-size: 8.5px;
  }
  body {
    min-width: 740px;
  }
  .container {
    width: 740px;
    padding: 0 20px;
  }
  .row {
    margin-left: -20px;
  }
  [class^="col"] {
    margin-left: 20px;
  }
  [class^="col"]._borderLeft:before {
    margin-left: -10px;
  }
  .col1 {
    width: 40px;
  }
  .offset1 {
    margin-left: 80px;
  }
  .col2 {
    width: 100px;
  }
  .offset2 {
    margin-left: 140px;
  }
  .col3 {
    width: 160px;
  }
  .offset3 {
    margin-left: 200px;
  }
  .col4 {
    width: 220px;
  }
  .offset4 {
    margin-left: 260px;
  }
  .col5 {
    width: 280px;
  }
  .offset5 {
    margin-left: 320px;
  }
  .col6 {
    width: 340px;
  }
  .offset6 {
    margin-left: 380px;
  }
  .col7 {
    width: 400px;
  }
  .offset7 {
    margin-left: 440px;
  }
  .col8 {
    width: 460px;
  }
  .offset8 {
    margin-left: 500px;
  }
  .col9 {
    width: 520px;
  }
  .offset9 {
    margin-left: 560px;
  }
  .col10 {
    width: 580px;
  }
  .offset10 {
    margin-left: 620px;
  }
  .col11 {
    width: 640px;
  }
  .offset11 {
    margin-left: 680px;
  }
  .col12 {
    width: 700px;
  }
  .offset12 {
    margin-left: 740px;
  }
  .hideOnMin {
    display: none !important;
  }
}
body {
  line-height: 1.25;
  font-family: "PT Sans", "Trebuchet MS", Arial, sans-serif;
  color: #171717;
  background: #fff;
}
body > * {
  font-size: 1.6rem;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
ul,
ol,
li,
dl,
dt,
dd,
address {
  padding: 0;
  margin: 1rem 0;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "PT Sans", "Trebuchet MS", Arial, sans-serif;
  font-size: 2.6rem;
  line-height: 3rem;
  font-weight: bold;
  font-style: normal;
}
h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child),
h5:not(:first-child),
h6:not(:first-child),
.h1:not(:first-child),
.h2:not(:first-child),
.h3:not(:first-child),
.h4:not(:first-child),
.h5:not(:first-child),
.h6:not(:first-child) {
  margin-top: 2rem;
}
h1,
.h1 {
  font-size: 4rem;
  line-height: 4rem;
}
h2,
.h2 {
  font-size: 3rem;
  line-height: 3rem;
}
.subHeader {
  font-weight: normal;
  font-size: 1.5rem;
  color: #999;
}
li {
  margin-left: 2.5em;
}
hr {
  display: block;
  height: 0;
  padding: 0;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 2rem 0;
  line-height: 0;
}
.blockLabel {
  display: inline-block;
  padding-top: 0.33em;
  margin: 1px 0 0;
}
input,
button,
select,
textarea,
a.button {
  margin: 0;
  font-family: "PT Sans", "Trebuchet MS", Arial, sans-serif;
  font-size: inherit;
}
input._error,
button._error,
select._error,
textarea._error,
a.button._error {
  border-color: #e50b40 !important;
}
button,
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
a.button {
  display: inline-block;
  width: 100%;
  height: 2.05em;
  line-height: 1.55em;
  padding: 0.25em 0.5em;
  vertical-align: baseline;
  border: 1px solid #ccc;
  background-color: #fff;
}
button,
a.button {
  width: auto;
  border-color: transparent;
  cursor: pointer;
  color: #fff;
  background-color: #171717;
}
button:hover,
a.button:hover {
  text-decoration: none;
}
button._med,
a.button._med {
  height: auto;
  padding: 0.45em 0.8em 0.4em;
}
button._big,
a.button._big {
  height: auto;
  padding: 0.55em 1em 0.5em;
  font-size: 1.8rem;
}
button::-moz-focus-inner,
a.button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input[type="checkbox"],
input[type="radio"] {
  margin-right: 0.3em;
  vertical-align: 0.07em;
  cursor: pointer;
}
textarea {
  height: auto;
  padding-top: 0.33em;
  line-height: 1.25;
}
select[multiple],
select[size] {
  height: auto;
}
a,
.link {
  color: #08c;
}
a:link,
.link:link,
a:visited,
.link:visited,
a:active,
.link:active {
  text-decoration: none;
}
a:hover,
.link:hover {
  text-decoration: underline;
}
a.linkBlock,
a.linkInlineBlock {
  display: block;
  color: inherit;
}
a.linkBlock h1,
a.linkInlineBlock h1,
a.linkBlock h2,
a.linkInlineBlock h2,
a.linkBlock h3,
a.linkInlineBlock h3,
a.linkBlock h4,
a.linkInlineBlock h4,
a.linkBlock h5,
a.linkInlineBlock h5,
a.linkBlock h6,
a.linkInlineBlock h6,
a.linkBlock .h1,
a.linkInlineBlock .h1,
a.linkBlock .h2,
a.linkInlineBlock .h2,
a.linkBlock .h3,
a.linkInlineBlock .h3,
a.linkBlock .h4,
a.linkInlineBlock .h4,
a.linkBlock .h5,
a.linkInlineBlock .h5,
a.linkBlock .h6,
a.linkInlineBlock .h6 {
  color: #000;
}
a.linkBlock .cLink,
a.linkInlineBlock .cLink {
  color: #08c;
}
a.linkBlock:hover,
a.linkInlineBlock:hover {
  text-decoration: none;
}
a.linkBlock:hover .link,
a.linkInlineBlock:hover .link {
  text-decoration: underline;
  color: #08c;
}
a.linkBlock:hover .link.cFade,
a.linkInlineBlock:hover .link.cFade {
  color: #999;
}
a.linkInlineBlock {
  display: inline-block;
}
.linkMore {
  padding-right: 0.8em;
  white-space: nowrap;
}
.linkMore:after {
  content: "»";
  position: absolute;
  margin-left: 0.3em;
  text-decoration: none;
  color: #08c;
}
.linkPseudo {
  color: #08c;
}
.linkPseudo > span {
  border-bottom: 1px dashed #08c;
  cursor: pointer;
}
.linkPseudo:hover {
  text-decoration: none;
}
.flatList {
  list-style: none;
}
.flatList > li {
  margin-left: 0;
}
.flatList > li._active,
.flatList > li._active > a {
  color: #3c9;
}
.metaList {
  list-style: none;
}
.metaList._nosep li,
.metaList li._nosep {
  margin-left: 1.4em;
}
.metaList._nosep li:first-child,
.metaList li._nosep:first-child {
  margin-left: 0;
}
.metaList._nosep li:before,
.metaList li._nosep:before {
  content: none;
}
.metaList._breadcrumbs li {
  color: #999;
}
.metaList._breadcrumbs li:before {
  content: "→";
}
.metaList li {
  display: inline-block;
  margin: 0;
}
.metaList li:before {
  content: "|";
  margin: 0 0.8em 0 0.6em;
  color: #ccc;
}
.metaList li:first-child:before {
  content: none;
}
.metaList li._active,
.metaList li._active > a {
  color: #3c9;
}
.floatLeft {
  float: left;
  margin: 0 2rem 1rem 0;
}
.floatRight {
  float: right;
  margin: 0 0 1rem 2rem;
}
.tableStruct {
  padding: 0;
  margin: 2rem 0;
  border-collapse: collapse;
}
.tableStruct td {
  padding: 0 0 1rem 2rem;
  margin: 0;
}
.tableStruct td:first-child {
  padding-left: 0;
}
.tableData {
  width: 100%;
  margin: 1rem 0;
  border-collapse: collapse;
}
.tableData th,
.tableData td {
  padding: 1rem;
  border: 1px solid #ccc;
  vertical-align: top;
}
.tableData th {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  background: #555;
  border-color: #999;
}
.tableData tr:nth-child(odd) {
  background-color: #eee;
}
.tableData tr:hover {
  background-color: #e0f7f0;
}
.tableData._verticalAlignMiddle th,
.tableData._verticalAlignMiddle td {
  vertical-align: middle;
}
.cont {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.plate {
  padding: 1rem 2rem;
  background-color: #eee;
}
.icon {
  position: relative;
  top: -0.11em;
  margin-right: 0.25em;
}
header {
  font-size: 1.8rem;
  color: #fff;
  background: #171717;
}
header a {
  color: #fff;
}
header .headerLogo img {
  margin-top: 1.45rem;
}
nav .metaList {
  margin: 0;
  cursor: default;
}
nav .metaList a {
  display: inline-block;
  padding: 1.5rem 0 1rem;
  border-bottom: 4px solid transparent;
}
nav .metaList li:before {
  margin: 0 1.2em 0 1em;
  color: #555;
}
nav .metaList li._active a,
nav .metaList li a:hover {
  border-color: #3c9;
  color: #3c9;
  text-decoration: none;
}
nav .metaList li:nth-child(4n) {
  float: right;
  margin-top: -0.25rem;
}
nav .metaList li:nth-child(4n):before {
  content: none;
}
nav .metaList li:nth-child(4n) a {
  padding: 0.55rem 1rem 0.45rem;
  border: 0;
  margin-top: 1.45rem;
  font-size: 1.3rem;
  font-weight: bold;
  color: #fff;
  background: #3c9;
  text-transform: uppercase;
}
nav .metaList li:nth-child(4n) a:hover {
  color: #3c9;
  background: #fff;
}
nav .metaList li em {
  display: inline-block;
  padding: 0.06rem 0.3rem;
  font-size: 1.1rem;
  font-weight: normal;
  font-style: normal;
  color: #fff;
  background: #3c9;
  vertical-align: middle;
}
.tag {
  display: inline-block;
  border: 1px solid #999;
  padding: 0.1rem 0.5rem;
  margin: 0 0.2rem 0.7rem 0;
  vertical-align: middle;
  font-size: 1.3rem;
  text-decoration: none !important;
  color: #999;
}
.tag._active,
a.tag:hover {
  color: #3c9;
  border-color: #3c9;
}
.sortNav {
  float: right;
  max-width: 11em;
  margin-top: 2.15rem;
  font-size: 1.5rem;
  text-align: center;
  color: #999;
  cursor: default;
}
.sortNav > span {
  display: inline-block;
}
.sortNav > span + span:before {
  content: "|";
  margin: 0 0.5em 0 0.3em;
  color: #ccc;
}
.sortNav b {
  font-weight: normal;
  color: #171717;
}
.tabs {
  position: relative;
  margin: -4px 0 0;
}
.tabs_head li {
  padding: 2rem 0 1rem;
  border-top: 4px solid transparent;
  margin: 0;
}
.tabs_head li._active {
  border-color: #3c9;
}
.tabs_head li a:hover {
  color: #3c9;
  text-decoration: none;
}
.tabs_cont {
  display: none;
}
.tabs_cont._active {
  display: block;
}
.present {
  position: relative;
  max-width: 1900px;
  margin: 0 auto;
}
.present:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url("../img/shade.png") repeat-x 0 100%;
}
.present a {
  color: inherit;
}
.present img._background {
  display: block;
  margin: 0 auto;
}
.present div._background {
  display: block;
  height: 0;
  max-height: 550px;
  padding-bottom: 28.9473684%;
  margin: 0 auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.present ._text {
  position: absolute;
  left: 2rem;
  right: 2rem;
  bottom: 3rem;
  text-align: center;
  color: #fff;
}
.present .tag {
  color: #fff;
  border-color: #fff;
}
.gallery {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.galleryWrap {
  overflow: hidden;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}
.galleryWrap > .row {
  position: relative;
  left: 0;
  width: 999999px;
}
.galleryControlLeft,
.galleryControlRight {
  position: absolute;
  top: 50%;
  margin-top: -2rem;
  height: 4rem;
  padding: 0 0.25rem;
  line-height: 3.1rem;
  font-size: 5rem;
  font-family: Arial;
  color: #ccc;
  background: rgba(255,255,255,0.5);
  cursor: pointer;
}
.galleryControlLeft._hover,
.galleryControlRight._hover {
  color: #fff;
  background: #3c9;
}
.galleryControlLeft {
  left: -40px;
  text-align: left;
}
.galleryControlLeft:before {
  content: "‹";
}
@media (min-width: 1007px) and (max-width: 1256px) {
  .galleryControlLeft {
    left: -30px;
  }
}
@media (max-width: 1006px) {
  .galleryControlLeft {
    left: -20px;
  }
}
.galleryControlRight {
  right: -40px;
  text-align: right;
}
.galleryControlRight:before {
  content: "›";
}
@media (min-width: 1007px) and (max-width: 1256px) {
  .galleryControlRight {
    right: -30px;
  }
}
@media (max-width: 1006px) {
  .galleryControlRight {
    right: -20px;
  }
}
.gallery._withPagesControls .galleryControlLeft,
.gallery._withPagesControls .galleryControlRight {
  margin-top: -3.5rem;
}
.galleryFrames {
  height: 3rem;
  line-height: 3rem;
  text-align: center;
}
.galleryFrames > span {
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  margin: 0 0.6rem;
  border: 1px solid #ccc;
  border-radius: 50%;
  background: #ccc;
  cursor: pointer;
  vertical-align: bottom;
}
.galleryFrames > span._active {
  border-color: transparent;
  background: #3c9;
  cursor: default;
}
.galleryFrames > span:hover:not(._active) {
  border-color: #3c9;
}
/*
@media mqLow
	.gallery
		position: static
		.row
			position: static
			width: auto
		&ControlLeft
		&ControlRight
		&Frames
			display: none
*/
.image {
  position: relative;
  display: block;
  padding-bottom: 75%;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}
.imageText {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0.666666666666667rem 1rem;
  margin: 1rem;
  color: #fff;
  background: #171717;
  background: rgba(23,23,23,0.55);
}
.imageText p {
  margin: 0.2em 0;
  line-height: 2.6rem;
  font-size: 1.6rem;
}
.imageTextHead {
  font-size: 2.6rem !important;
}
a:hover .imageTextHead {
  text-decoration: underline;
}
.objList {
  margin-left: -1.75rem;
  list-style: none;
  font-size: 0;
}
.objList > li {
  position: relative;
  display: inline-block;
  margin: 0 0 1.75rem 1.75rem;
  text-align: center;
  vertical-align: top;
  font-size: 1.6rem;
}
.objList > li ._hoverOverlay {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.5rem 1rem;
  line-height: 172px;
  color: #3c9;
  background: rgba(0,0,0,0.6);
}
.objList > li ._hoverOverlay ._text {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 2rem;
  font-size: 1.5rem;
}
.objList > li ._hoverOverlay ._text strong {
  display: block;
  font-size: 1.8rem;
  color: #fff;
}
.objList > li._special a {
  display: block;
  width: 178px;
  height: 178px;
  color: #fff;
  background: #3c9;
}
.objList > li._special a:hover {
  color: #3c9;
  background: #171717;
}
.objList > li._special a ._hoverOverlay {
  display: block;
  color: inherit;
  background: transparent;
}
.objList > li._special a ._hoverOverlay strong {
  color: inherit;
}
.objList a:hover ._hoverOverlay {
  display: block;
}
.cataBlockImg {
  max-width: 240px;
}
.cataBlockHead {
  font-size: 2rem;
}
input.inputCompact {
  width: auto;
  padding: 0.15em 0.35em;
}
footer {
  padding-top: 1rem;
  border-top: 1px solid #ccc;
  font-size: 1.5rem;
  color: #999;
  background: #171717;
}
footer a {
  color: inherit;
}
footer .metaList li:before {
  color: #555;
}
.displayNone {
  display: none;
}
.displayBlock {
  display: block;
}
.displayInlineBlock {
  display: inline-block;
}
.overflowHidden {
  overflow: hidden;
}
.visibilityHidden {
  visibility: hidden;
}
.widthAuto {
  width: auto;
}
.noWrap {
  white-space: nowrap;
}
.fsHeader1 {
  font-size: 4rem !important;
}
.fsHeader2 {
  font-size: 3rem !important;
}
.fsHeader {
  font-size: 2.6rem !important;
}
.fsBigX {
  font-size: 2rem !important;
}
.fsBig {
  font-size: 1.8rem !important;
}
.fsText {
  font-size: 1.6rem !important;
}
.fsMedium {
  font-size: 1.5rem !important;
}
.fsSmall {
  font-size: 1.3rem !important;
}
.cFirm {
  color: #3c9 !important;
}
.cBack {
  color: #fff !important;
}
.cBackFade {
  color: #eee !important;
}
.cText {
  color: #171717 !important;
}
.cHead {
  color: #000 !important;
}
.cLink {
  color: #08c !important;
}
.cSucc {
  color: #008000 !important;
}
.cWarn {
  color: #e50b40 !important;
}
.cFade {
  color: #999 !important;
}
.cFadeDark {
  color: #555 !important;
}
.cFadeLight {
  color: #ccc !important;
}
.bcFirm {
  background-color: #3c9 !important;
}
.bcBack {
  background-color: #fff !important;
}
.bcBackFade {
  background-color: #eee !important;
}
.bcText {
  background-color: #171717 !important;
}
.bcHead {
  background-color: #000 !important;
}
.bcLink {
  background-color: #08c !important;
}
.bcSucc {
  background-color: #008000 !important;
}
.bcWarn {
  background-color: #e50b40 !important;
}
.bcFade {
  background-color: #999 !important;
}
.bcFadeDark {
  background-color: #555 !important;
}
.bcFadeLight {
  background-color: #ccc !important;
}
.bcTransparent {
  background-color: transparent !important;
}
.alignLeft {
  text-align: left !important;
}
.alignRight {
  text-align: right !important;
/*
	@media mqLow
		&:not(td):not(th)
			text-align: left !important
	*/
}
.alignCenter {
  text-align: center !important;
}
.alignBaseline {
  vertical-align: baseline !important;
}
.alignMiddle {
  vertical-align: middle !important;
}
.alignTop {
  vertical-align: top !important;
}
.alignBottom {
  vertical-align: bottom !important;
}
.marginTopDoubleBase {
  margin-top: 4rem !important;
}
.marginBottomDoubleBase {
  margin-bottom: 4rem !important;
}
.marginLeftDoubleBase {
  margin-left: 4rem !important;
}
.marginRightDoubleBase {
  margin-right: 4rem !important;
}
.marginTopBase {
  margin-top: 2rem !important;
}
.marginBottomBase {
  margin-bottom: 2rem !important;
}
.marginLeftBase {
  margin-left: 2rem !important;
}
.marginRightBase {
  margin-right: 2rem !important;
}
.marginTopHalfBase {
  margin-top: 1rem !important;
}
.marginBottomHalfBase {
  margin-bottom: 1rem !important;
}
.marginLeftHalfBase {
  margin-left: 1rem !important;
}
.marginRightHalfBase {
  margin-right: 1rem !important;
}
.flat {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.flatTop {
  margin-top: 0 !important;
}
.flatBottom {
  margin-bottom: 0 !important;
}
